{
    "presets": ["next/babel"],
    "plugins": [
      // 让我们可以使用根路径，避免相对路径的混乱，如import Head from '@/components/Head'
      [
        "module-resolver",
        {
          "alias": {
            "@": "./"
          }
        }
      ],
      [
        "import",
        {
          "libraryName": "antd",
          "style": "css"
        }
      ]
    ]
  }